src/xml/tests/schema_inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/inventory"
           xmlns:inv="http://example.com/inventory"
           elementFormDefault="qualified">
   <xs:simpleType name="PriceType">
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>

   <xs:complexType name="ItemType">
      <xs:sequence>
         <xs:element name="name" type="xs:string"/>
         <xs:element name="price" type="inv:PriceType"/>
      </xs:sequence>
   </xs:complexType>

   <xs:element name="inventory">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="inv:ItemType" minOccurs="1" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
